nav ul {display: inline; list-style: none; }
nav li {padding-right: 10px;}
#login, #menu {padding: 10px;}

#login{ background: lightcoral; }
#login ul li{float: inline-end;}

#menu{background: darkkhaki}
#menu ul li{float: inline-start;}

#sis {background: peachpuff;}

#file {background: cornflowerblue}  /* mediumorchid; darkgreen*/

#public { background:  skyblue; }

@media (max-width: 600px){
  #login, #menu{display: grid; }
}